{% load static %}

<footer class="footer col-12" style="height:250px;">
    <div class="container ">
        <div class="about-us " data-aos="fade-right" data-aos-delay="200" >
            <h4 style='color:#fff;margin-top:-50px;'>A propos</h4>
            <p>Bienvenue sur notre site de campingBenin! Nous sommes une entreprise familiale qui propose des terrains de camping</p>
        </div>
        <div class="follow " data-aos="fade-left" data-aos-delay="200">
            <h4 style='color:#fff;margin-top:-30px;'>Suivez-nous</h4>
            <p>Soyons Sociaux</p>
            <div>
                <a href="https://www.facebook.com/BeninCamping/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com/benincamping?igshid=ZDdkNTZiNTM="><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@campingbenin229?_t=8ZCGfBzjwJy&_r=1"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
    </div>
    <div class="rights flex-row">
        <h6 class="text-gray" style="font-size:14px;">
          &copy; 2023 It-Services&Solutions.com - Tous droits réservés
        </h6>
    </div>
    
</footer>